*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%
}
.card_content{
    display: flex;
    flex-wrap: wrap;
}
.c{
    width: 100vw;
    height: 150px;
}
.c1{
    background-color: yellow;
}
.c2{
    background-color: blue;
}
.c3{
    background-color: red;
}
.c4{
    background-color: black;
}
.c5{
    background-color: blueviolet;
}